.filter-bar {
    display: flex;
    gap: 4px; 
}

.filter-bar button {
    background-color: var(--black);
    color: var(--white);
    border: none;
    padding: 12px 36px;
    font-size: 0.9rem;
    cursor: pointer;
}

