:root{
    --red: #DD0000;
    --black: #0B0B0B;
    --gray-1: #161616;
    --gray-2: #1C1C1C;
    --gray-3: #888888;
    --white: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    background-color: var(--gray-1);
    color: var(--white);
}