.logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom-right-radius: 60px;
  background-color: var(--gray-2);
  width: fit-content;
  padding: 20px 400px 20px 30px; 
  text-decoration: none;
}

.logo-icon {
  font-size: 30px;
}

.logo-text {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
  letter-spacing: 0.5px;
}

.text-white {
  color: var(--white);
}

.text-red {
  color: var(--red);
}

@media (max-width: 900px) {
  .logo-container {
    padding: 16px 20px; 
    width: 100%;
    border-bottom-right-radius: 24px;
    justify-content: center; 
  }
}